name: Deploy API (dev)

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      AWS_REGION: me-central-1
      ECR_REPO: vancelian-api
      CLUSTER_NAME: vancelian-dev-api-cluster
      SERVICE_NAME: vancelian-dev-api-svc

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::411714852748:role/GitHubDeployRole
          aws-region: me-central-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker image
        run: |
          docker build -t ${{ steps.login-ecr.outputs.registry }}/vancelian-api:latest ./hello-api

      - name: Push Docker image
        run: |
          docker push ${{ steps.login-ecr.outputs.registry }}/vancelian-api:latest

      - name: Force ECS redeploy
        run: |
          aws ecs update-service \
            --cluster $CLUSTER_NAME \
            --service $SERVICE_NAME \
            --force-new-deployment \
            --region $AWS_REGION
